/** @format */

body, h1, button /* tag 선택자 */ {
  all: unset;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd;
}
/* 버튼'이면서' 스탑컬러도 가지고 있는 아이 */
#button.stop-color { 
  background-color: tomato;
}

.stopwatch /*클래스 선택자*/ {
  /* display: inline-block;  인라인은 height, width가 설정 안됨, 인라인 요소와 block요소를 쓰고싶을때 사용 */
  padding: 48px 32px 72px 32px; /* padding 은 안쪽여백, margin 바깥여백 위 우 하 좌 시계방향  2개 - 상하, 좌우 3개 상, 하, 좌우*/
  background-color: white;
  border: 4px solid #aaa; /* 경계선 */
  border-radius: 24px; /* 모서리 둥글게 */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* 우 하 퍼짐정도 색상 rgb'a' => a는 투명도 */
}

.stopwatch h1 /* > h1 직계자식만 선택 꺽쇠 없으면 하위 자식은 전부 선택. */ {
  display: block;
  font-family: 'Noto Sans KR' /* 폰트는 있으면 바뀜 없으면 안바뀜 */, sans-serif;
  font-size: 0.4m;
  text-transform: uppercase; /* 영어일때만 해당 */
  color: grey;
  margin-bottom: 16px;
}

.stopwatch_interface {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* 아이디 선택자 */
#screen { 
  padding: 8px 10px;
  font-family: 'Press Start 2P', system-ui;
  color: white;
  background-color: black;
  border-radius: 2px;
}
#button {
  padding: 5px 10px;
  color: white;
  background-color: steelblue;
  border-radius: 2px;
  cursor: pointer;
}
